.w3-container {
    padding: 0;

    .searchBox {
        text-align: end;
        margin-bottom: 4px;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin-top: 4px;

        button {
            border: 0;
            outline: 0;
            padding: 8px;
            border-radius: 5px;
        }
    }
}