@import "../../mixins.scss";

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 16px!important;

  label {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: var(--blue-dark-medium);
    opacity: 0.6;

    @include md {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  input {
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #cbd5e1;
    margin-top: 8px;
    padding: 16px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--blue-dark-medium);

    &::placeholder {
      color: var(--dark-blue);
      opacity: 0.4;
    }
    
    &::-ms-input-placeholder { /* Edge 12 -18 */
      color: var(--dark-blue);
      opacity: 0.4;
    }

    @include md {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &:focus {
      border: 2.5px solid var(--blue-dark);
    }
  }

  span {
    display: none;
    margin-top: 4px!important;
    color: red!important;
    opacity: 1!important;
  }

  input:invalid[focused="true"] {
    border: 1px solid red!important;
  }

  input:invalid[focused="true"] ~ span {
    display: block;
  }

}