<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
</head>

<body>
  <div class="container">
    Hi <b><%= name %></b>, <br /><br />

    We received a request to reset your password. If you did not request this,
    please ignore this email. <br /><br />

    <b>To reset your password, click on the following link:</b> <br /><br />

    <a href="<%= url %>">Click here to reset your password</a> <br /><br />

    This link will expire in 10 minutes. <br /><br />

    If you have any questions, please contact us at: tranminhtri0253@gmail.com
    <br /><br />

    Thanks, <br />
    Tran Minh Tri.
  </div>
</body>

</html>