@import "../../mixins.scss";

.tokenOwnership {
  margin-top: 30px;
  background-color: var(--dark);
  flex: 1;

  .contentWrapper {
    display: flex;
    flex-direction: column;
  }

  .boxContainer {
    margin-top: 30px;
    
    .boxTitle {
      color: #fff;
      border-bottom: 2px solid rgb(255, 102, 0);
      margin-bottom: 16px;
    }    

    .widthdrawHistoryList {
      margin: 16px 0;
    }
  }

  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--dark-blue);
    border-radius: 5px;

    @include md {
      flex-direction: row;
      width: 40%;
    }

    .boxLeft {
      display: flex;
      flex-direction: column;
      color: #fff;
      gap: 24px;

      h2 {
        color: var(--grey-medium);
        font-size: 1rem;
        font-weight: 400;

        span {
          display: inline-flex;
          align-items: center;
          gap: 4px;
          font-size: 1rem;
          font-weight: 700;
          color: #fff;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }

      span {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.02rem;
      }
    }

    .boxRight {
      margin-top: 12px;
      display: flex;
      align-items: center;

      @include md {
        margin-top: 0;
      }

      button {
        outline: 0;
        border: 0;
        padding: 12px 24px;
        background-color: rgb(255, 102, 0);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  .items {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    gap: 16px;
    max-height: 695px;
    overflow-y: auto;
  }
}
