
@import "../../mixins.scss";

.explore {
  padding: 30px 0;
  background-color: var(--grey-light);
  @include sm {
    padding: 60px 0;
  }
  
  .contentWrapper {
    display: flex;
    flex-wrap: wrap;
  }
}