@import "../../mixins.scss";

.myProperty {
  position: relative;
  margin: 64px 0;
  flex: 1;

  // &.darkTheme {

  // }

  .buttons {
    button {
      width: fit-content;
      outline: none;
      border: none;
      color: #fff;
      background-color: var(--purple);
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .line {
    margin: 8px 0 16px;
    border-top: 2px solid var(--dark-blue);
    opacity: 0.4;
  }

  .propertyContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;

    @include sm {
      margin: 0 -8px;
    }
  }

  .newPropertyModal,
  .editPropertyModal,
  .listingPropertyModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    transition:
      opacity 0.3s,
      visibility 0.3s;

    .modalContent {
      height: 100vh;
      width: 100%;
      overflow-y: auto;
      background: #fff;
      padding: 30px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      @include sm {
        padding-left: 60px;
        padding-right: 60px;
      }

      @include md {
        width: 70%;
        max-height: 80vh;
      }

      @include lg {
        width: 50%;
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
      }

      &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.9);
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
      }

      .contentTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        h1 {
          font-size: 1.875rem;
          line-height: 2.25rem;
          color: var(--dark-blue);
          letter-spacing: -0.02em;
          font-weight: 700;

          @include md {
            font-size: 2.25rem;
            line-height: 2.5rem;
          }
        }

        svg {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      .inputForm {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 12px;

        label {
          font-size: 0.8rem;
          line-height: 1.75rem;
          color: var(--blue-dark-medium);
          opacity: 0.4;
          font-weight: 600;

          @include md {
            font-size: 1.25rem;
          }
        }

        input {
          padding: 8px;
          color: var(--blue-dark-medium);
          font-size: 1rem;
          line-height: 1.5rem;
          border: 1px solid #cbd5e1;
          outline: none;
          border-radius: 0.5rem;

          @include md {
            padding: 16px;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        span {
          display: none;
          margin-top: 4px !important;
          color: red !important;
          opacity: 1 !important;
        }
      }

      .submitBtn {
        text-align: center;

        button {
          border-radius: 10px;
          width: 40%;
          margin-top: 16px;
          font-size: 1.25rem;
          padding-bottom: 1rem;
          padding-top: 1rem;
          color: #fff;
          background-color: var(--blue-dark);
          outline: none;
          border: none;
          transition: opacity 0.2s ease-in;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }

          @include md {
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
          }
        }
      }
    }
  }

  .newPropertyModal {
    .districtLabel {
      line-height: 1.75rem;
      color: var(--blue-dark-medium);
      opacity: 0.4;
      font-weight: 600;
      font-size: 1.25rem;
    }

    .selectDistrict {
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }

  .verifyPropertyModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    transition:
      opacity 0.3s,
      visibility 0.3s;

    .modalContent {
      height: fit-content;
      width: 45%;
      background: #fff;
      padding: 16px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .contentTop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 16px;

        svg {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      h4 {
        line-height: 1.5;
        text-align: center;
      }

      .submitBtn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;

        button {
          width: 72px;
          outline: 0;
          border: 0;
          padding: 8px;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          transition: opacity 0.2s ease-in;

          &:hover {
            opacity: 0.6;
          }

          &:first-child {
            background-color: green;
          }

          &:last-child {
            background-color: gray;
          }
        }
      }
    }
  }

  .listingPropertyModal {
    .modalContent {
      height: fit-content;
    }

    .contentBody {
      .selectBox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
          font-size: 16px;
          font-weight: 600;
          color: var(--blue-dark-medium);

        }
      }

      .filterItem {
        width: 70%;
        padding: 0;
        margin-bottom: 16px;
      }
    }

    .totalPrice {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      color: var(--blue-dark-medium);

    }
  }
}