:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue-dark: #4D3FED;
  --blue-dark-medium: #02094d;
  --dark-blue: #08165D;
  --dark: #010B3E;
  --grey: #EAF4F6;
  --grey-light: #F7F5FF;
  --grey-medium: #9CA3AF;
  --purple: #9383FF;
  --purple-dark: #2B4490;
  --grey-lighter: #08165d66;
  --green: #277227;
}